name = "abyayala-astro-platform"
compatibility_date = "2025-03-31"
pages_build_output_dir = "dist" # Indica a Pages d칩nde est치 la salida del build

# Configuraci칩n de R2
[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "abyayala-media"
preview_bucket_name = "abyayala-media-dev"

# Configuraci칩n de D1 (Base de datos)
[[d1_databases]]
binding = "DB"
database_name = "abyayala-cms"
database_id = "a50d9255-3be0-47bd-800c-85fb362c197f"

# Variables de entorno
[vars]
ENVIRONMENT = "production"
